/*CSS INFORMACOES DO CLIENTE*/
.retira_pontos_lista 
{ 
    list-style-type: none;
}
.margin_informacoes_1
{
    margin-top: 5%;
}
.margin_conteiner
{
    margin-top: 5%;
}
.margin_informacoes_2
{
    margin-top: 4%;
}
.fonte_head
{
    color: #505F73;
}
/*CSS MARGENS DA TABELA*/

.table_margin_fat_simples 
{
    margin-top: 10%;
}
.table_margin_fat_detalhada 
{
    margin-top: 5%;
    margin-bottom: 10%;
}
.table_margin_botoes 
{
    margin-bottom: 5%;
}
.label_talk_detalhado
{
    color: #0052CB;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 20px;
}
.logo_talk
{
    margin-top: 10%;
    margin-left: 9%;
}
/*CSS CORES ESPECÌFICAS*/
.cor_texto_branco
{
    color: #fff;
}
.bg-primary 
{
    background-color: #2684FF !important;
} 
.bg-light 
{
    background-color: #F6F7FA !important;
}
.fa-arrow-left 
{
    color: #3A5FCD;
}
.fa-print 
{
    color: #3A5FCD;
}
.fa-file-pdf 
{
    color: #3A5FCD;
}
/*CSS IMPRESSAO*/
@media print 
{
    .show_nav 
    {
        display: block;
    }
    .print 
    {
        display: none;
    }
    .bg-primary 
    {
        color: #1C1C1C;
    }
    .bg-light 
    {
        color: #1C1C1C;
    } 
}


